
@mixin createWhiteBlk($z){
    font-size: 2.5rem;
    padding: 2rem 3rem;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $z;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}
@mixin createBtn($color){
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin: 1rem;
    cursor: pointer;
    background-color: $color;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

article.difficulty{
    @include createWhiteBlk(2);
    button{
        @include createBtn(black);
        width: 6rem;
        &:nth-child(2){
            background-color: rgb(1, 196, 1);
        }
        &:nth-child(3){
            background-color: rgb(235, 235, 3);
        }
        &:nth-child(4){
            background-color: red;
        }
    }
}

h1.top{
    font-size: 2.5rem;
    text-align: right;
    padding:0 1rem;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    .text{
        text-align: right;
        margin: 10px 0px;
    }
    button{
        @include createBtn(rgb(0, 203, 203));
        margin: 10px 0;
    }
}
.bestBlock{
    @include createWhiteBlk(2);
}
.hideBlock{
    visibility: hidden;
    opacity: 0;
}
.showBlock{
    visibility: visible;
    opacity: 1;
}

.filter{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.5s ease;
}

.poker{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        display: block;
        position: relative;
        width: 105px;
        height: 150px;
        margin: 0.5rem;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        cursor: pointer;

        .cardFront{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #e8e8e8;
            backface-visibility: hidden;
            // 讓正面翻過去
            transform: rotateY(180deg);
        }
        .cardBack{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            backface-visibility: hidden;
            border-radius: 5px;
        }
        .cover{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,0.3);
        }
    }
}

article.finished{
    @include createWhiteBlk(2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
        @include createBtn(purple);
    }
}
