body{
    background-color: whitesmoke;
}
.top{
    font-size: 2.5rem;
    text-align: right;
}
.text{
    text-align: right;
    margin: 10px 0px;
}
.poker{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        display: block;
        position: relative;
        width: 105px;
        height: 150px;
        margin: 0.5rem;
        transform-style: preserve-3d;
        transition: all 0.5s ease;

        .cardFront{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #e8e8e8;
            backface-visibility: hidden;
            transform: rotateY(180deg);
        }
        .cardBack{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            backface-visibility: hidden;
        }
        .cover{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,0.3);
        }
    }
}
